*{
	margin:0;
	padding: 0; 
}

body{
	background:#e6e6e6;
}

header, .main, footer{
	width: 90%;
	max-width:1000px; 
	margin:20px auto;  
}

header nav{
	background:#528FD5;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	display: inline-block;
	padding: 10px 20px;
}

header nav ul li a{
	color:#fff; 
	text-decoration: none;
}

header nav ul li:hover{
	background:#75ACEC;
}

.main .articles {
	width: 68.5%;
	margin-right:1.5%; 
	float: left;
}

.main .articles article{
	background:#fff;
	padding: 20px;
	margin-bottom: 20px;
}

aside{
	width:30%; 
	background:#ff8000;
	float: left; 
	padding: 20px;
	box-sizing: border-box;
}

footer{
	clear: both;
	background:#000; 
	color:#fff;
	padding:10px 0px;
	text-align: center; 
}

footer p a{
	color:#528FD5;
	text-decoration: none;
}

.menu_bar {
	display: none;
}

@media screen and (max-width: 768px){

	.main .articles{
		width: 100%;
	}

	aside{
		width:100%; 
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 440px){

	header{
		width: 100%;
	}
	
	header nav{
		width: 80%;
		height: 100%;
		margin:0;
		position: fixed;
		/* Se agrega si no de desea trabajar con el metodo toogle() */
		left: -100%; 
		
	}

	header nav ul li{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.3);
	}

	.menu_bar{
		display: block;
		width: 100%;
		background:#ccc;
	}

	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background:#528FD5;
		color:#fff;
		text-decoration:none;
		box-sizing:border-box; 
	}
}